@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  background : linear-gradient(to left , rgba(54, 81, 71,1) 0% , rgba(171, 255, 246,1)100%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
